body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.search-container {
  text-align: center;
  margin: 20px 0;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Updated to evenly space the items */
}

.grid-item {
  width: 30%; /* Updated to set the width of each grid item */
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-image {
  width: 100%;
  height: auto;
}

.image-caption {
  padding: 15px;
}

h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

p {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
}
