.video-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    background-color: #000; /* Set your desired background color */
  }
  